@font-face {
  font-family: "Permanent Marker";
  src: url("../assets/fonts/permanent-marker/permanentMarker-Regular.ttf")
    format("woff");
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f5;
}
