@font-face {
  font-family: "Permanent Marker";
  src: url("../assets/fonts/permanent-marker/permanentMarker-Regular.ttf")
    format("woff");
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Permanent Marker", cursive;
}
